USE [master]
GO
/****** Object:  Database [sistemaUsuarios]    Script Date: 27-09-2021 17:05:45 ******/
CREATE DATABASE [sistemaUsuarios]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'sistemaUsuarios', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\sistemaUsuarios.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'sistemaUsuarios_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\sistemaUsuarios_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [sistemaUsuarios].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [sistemaUsuarios]
GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 27-09-2021 17:05:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[codigoUsuario] [nvarchar](64) NOT NULL,
	[email] [nvarchar](64) NOT NULL,
	[password] [nvarchar](64) NOT NULL,
	[Nombre] [nvarchar](64) NOT NULL,
	[Apellido] [nvarchar](64) NOT NULL,
 CONSTRAINT [PK_usuarios] PRIMARY KEY CLUSTERED 
(
	[codigoUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
